.btnChangePage {
  background-color: #7db290;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Quicksand , sans-serif;
  font-size: 15px;
  height: 56px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 2px;
  right: 2%;
  text-transform: uppercase;
  transition: background-color 300ms;
  width: 110px;
}

.btnChangePage:hover {
  background-color: #407d6c;
}

.btnSair {
  position: absolute;
  top: 1%;
}
